Task is here:
https://drive.google.com/file/d/1Bxeey-VbQ6PT4eWazS5Xbu7fteoHTK31/view?usp=drivesdk

In [ ]:
"""
Simple task on Friedman topic.
- Split
- Parenthesis
"""

In [ ]:
s = '123456' # A057145

In [ ]:
s_list = list(s)

In [ ]:
l = len(s)

In [ ]:
max_spaces = l - 1

In [ ]:
max_iters = max_spaces * max_spaces - 2 + 1

In [ ]:
max_len = l + l - 1

In [ ]:
pool = []

In [ ]:
max_spaces, max_iters, max_len

In [ ]:
seq = [1, 1, 2, 1, 3, 3, 1, 4, 6, 4, 1, 5, 10, 10, 5]

In [ ]:
for sp_cnt in range(max_spaces, 0, -1):
    print(sp_cnt)

In [ ]:
"""
A074909    	1, 1, 2, 1, 3, 3, 1, 4, 6, 4, 1, 5, 10, 10, 5

1 2

12 3
1 23
1 2 3

1 234
12 34
123 4

1 23 4
12 3 4
1 2 34

1 2 3 4

1 2345
12 345
123 45
1234 5

1 2 345
1 234 5
123 4 5
1 2 345
12 34 5
12 3 45

1 2 34 5
12 3 4 5
1 2 3 45
1 23 4 5

1 2 3 4 5

1 23456
12 3456
123 456
1234 56
12345 6

1 2 3456
12 3 456
123 4 56
1234 5 6
12 345 6
1 23 456
1 234 56
1 2345 6
12 34 56
123 45 6

1 2 3 456
1 2 345 6
1 234 5 6
123 4 5 6
1 23 45 6
1 23 4 56
12 3 4 56
12 3 45 6
12 34 5 6
1 2 34 56

1 2 3 4 56
1 2 3 45 6
1 2 34 5 6
1 23 4 5 6
12 3 4 5 6

1 2 3 4 5 6


1 2 3 4 5 6 7
"""

In [ ]:
x = '''1 2 3 456
1 2 345 6
1 234 5 6
123 4 5 6
1 23 45 6
1 23 4 56
12 3 4 56
12 3 45 6
12 34 5 6
1 2 34 56'''.split('\n')

In [ ]:
x

In [ ]:
len(x)

In [ ]:
"""
1 2 3
1 23 
12 3
(1 2) 3
1 (2 3)
--------
1 234     !
12 34     !
123 4     !

1 23 4    !
(1 23) 4
1 (23 4)
12 3 4    !
(12 3) 4
12 (3 4)
1 2 34    !
(1 2) 34
1 (2 34)

1 2 3 4   !

(1 2) 3 4
1 (2 3) 4
1 2 (3 4)

(1 2 3) 4
1 (2 3 4)

((1 2) 3) 4
1 ((2 3) 4)
(1 (2 3)) 4
1 (2 (3 4))

(1 2) (3 4)

"""

In [ ]:
def friedman(numb):
    pass

In [ ]:
friedman(121)

In [ ]:
-2**(0+0)

In [ ]:
-2**3

In [ ]:
3**-4

In [ ]:
from math import sqrt, pow

In [ ]:
import math

In [ ]:
pow(-3,-4)

In [ ]:
5**(-4) # This is possible.
5**-4 # This is the same. This is possible because of implicit conversion to expression with parentheses: 5**-4 == 5**(-4)
5**(-5) == 5**-5

In [ ]:
3**9*(3**(-4)+6*2) # 236439     3**9*(3**-4+6*2)    -> round или что-то другое

In [ ]:
-((65-9**7+9)/5) # This -( is possible in a row

In [ ]:
54**(-(6/(4-7+1))) # AND this (-( is possible in a row

In [ ]:
"""
- в начале -12 3
- в начале перед скобкой -((65-9**7+9)/5)
- 
round
"""